.title-wrapper {
    padding: 15% 18%;
    /* height: 10vh; */
    /* min-height: 10vh; */
}

.title-1 {
    font-size: 95px;
    color: orange;
    width: 100%;
    /* -webkit-text-stroke: 2px orange; */
    /* transform: translate(-50%, -50%); */
}

.title-2 {
    font-size: 90px;
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 2px orange;
    /* transform: translate(-50%, -50%); */
}

.subtitle {
    text-transform: uppercase;
    width: 100%;
    color: grey;
    font-weight: lighter;
    font-size: 25px;
    line-height: 24px;
}

.title-link {
    margin: 15px 0;
    font-size: 24px;
}

.pattern {
    position: absolute;
    left: 15%;
    width: 60%;
    height: 110vh;
    background: url(../../images/BG_Pattern.png) no-repeat 50% 50%;
    z-index: -1;
    opacity: 0.4;
}
