.section {
    min-height: 110vh;
    height: auto;
    width: 100%;
}

/* @media (max-width: 980px) {
    .section {
        min-height: 117.5vh;
        width: 118%;
    }

}

@media (max-width: 768px) {
    .section {
        min-height: 145vh;
        width: 145%;
    }

}

@media (max-width: 640px) {
    .section {
        min-height: 170.5vh;
        width: 118%;
    }

} */

@media (max-width: 980px) {
    .section {
        width: 121%;
        min-height: 122vh; 
    }
}

@media (max-width: 768px) {
    .section {
        width: 155%;
        min-height: 150vh; 
    }
}

@media (max-width: 640px) {
    .section {
        width: 180%;
        min-height: 170.5vh; 
    }
}
