#skills {
    padding:0 0 10vh 0;
    /* margin */
}

.subcontent {
    width: 100%;
    color: grey;
    font-weight: lighter;
    font-size: 25px;
    line-height: 175%;
}

.half-content {
    width: 50%;
    color: grey;
    font-weight: lighter;
    font-size: 25px;
    line-height: 175%;
}

.right {
    float: left;
}

@media (max-width: 980px) {
    #skills {
        width: 118%;
        height: 122vh; 
    }

    .half-content {
        width: 100%;
    }

    .right, .graph-custom {
        float: none;
    }

}

@media (max-width: 768px) {
    #skills {
        width: 145%;
        height: 150vh; 
    }

    .half-content {
        width: 100%;
    }

    .right, .graph-custom {
        float: none;
    }

}

@media (max-width: 640px) {
    #skills {
        width: 118%;
        height: 170.5vh; 
    }

    .half-content {
        width: 100%;
    }

    .right, .graph-custom {
        float: none;
    }

}
