#skills {
    padding:0 0 10vh 0;
    /* margin */
}

.subcontent {
    width: 100%;
    color: grey;
    font-weight: lighter;
    font-size: 25px;
    line-height: 175%;
}

.half-content {
    width: 50%;
    color: grey;
    font-weight: lighter;
    font-size: 25px;
    line-height: 175%;
}

.right {
    float: left;
}