body {
    padding: 0px;
    margin: 0;
    font-family:'Raleway',sans-serif;
    overflow: auto;
    position: relative;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  