/* ================================================= */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 15px 100px;
    box-sizing: border-box;
    transition: .3s;
    font-size: 2.5vh;
    z-index: 10
}

/* ================================================= */
/* Nav list */
nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav a {
    text-decoration: none;
}

nav ul li a {
    line-height: 80px;
    color: #151515;
    margin: 12px 40px;
    padding: 8px 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

nav ul li a:focus {
    outline: none;
}

nav ul li a:hover {
    border-bottom: 2px solid #f7a434;
    color: #f7a434;
}

nav ul li a.active {
    border-bottom: 2px solid #f7a434;
    color: #f7a434;
}
